{% extends 'index.html' %}

{% block body %}
<table class="table table-hover">
    <tr>
        <td>Account Number</td>
        <td>{{object.account_number}}</td>
    </tr>
    <tr>
        <td>Account Holder</td>
        <td>{{object.account_holder}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{object.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{object.phone}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{object.city}}</td>
    </tr>
    <tr>
        <th>Balance</th>
        <th>{{object.account_balance}}</th>
    </tr>
</table>

{% endblock %}