{% extends 'index.html' %}
{% load static %}

{%block body%}
<h1>Create Data</h1>
<form action="{%url 'CreateProduct' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit" />
</form>


<h1>Filter Data</h1>
<form action="{%url 'FilterProduct' %}" method="get" style="margin-bottom:10px">
    {{ filter.as_table }}
    <input type="submit" value="submit" />
</form>
{% if product %}
<table border>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>rating</th>
    </tr>
    {% for p in product %}
    <tr>
        <td><a href="{%url 'GetProductDetailView' p.id%}">{{p.name}} </a></td>
        <td> {{p.description}} </td>
        <td> {{p.price}} </td>
        <td> {{p.rating}} </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<h4>There is no matching product available</h4>
{% endif %}

{% endblock %}
