{% extends 'index.html'%}
{% block body%}
<table border>
    <tr>
        <td>Sr No.</td>
        <td>Name</td>
        <td>Class</td>
    </tr>
    {% for ele in lst %}
    <tr>
        <td>
            <a href="{%url 'getSingleAbout' ele.sr_no%}">{{ ele.sr_no }}</a>
        </td>
        <td>{{ele.name}}</td>
        <td>{{ele.class}}</td>
    </tr>
    {% endfor %}
    {% for ele in lst2 %}
    <tr>
        <td>{{ele.sr_no}}</td>
        <td>{{ele.name}}</td>
        <td>{{ele.class}}</td>
    </tr>
    {% endfor %}
</table>
    {%endblock%}
