<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'main/css/style.css'%}">
    {% block style %}
    <title>Home</title>
    {% endblock %}
</head>
    <body>
    <nav>
        <a class="nav-button" href="{%url 'Home' %}">Home</a>
        <a class="nav-button" href="{%url 'Product'%}">Product</a>
        <a class="nav-button" href="{%url 'Privacy'%}">Privacy</a>
        <a class="nav-button" href="{%url 'About'%}">About</a>
        <a class="nav-button" href="{%url 'Career'%}">Career</a>
    </nav>
    {% block body%}
    <table border>
        <tr>
            <td>Sr No.</td>
            <td>{{ sr_no }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>Class</td>
            <td>{{ class }}</td>
        </tr>
        <tr>
            <td>Marks</td>
            <td>
                <table border>
                    {% for key, value in marks.items%}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {%endfor%}
                </table>
            </td>
        </tr>
    </table>
    {%endblock%}
    <footer>
        this is footer
    </footer>
    </body>
</html>
