{% extends 'index.html'%}
{% load static %}
{% block style %}
<title>Privacy</title>
<link rel="stylesheet" href="{%static 'main/css/privacy.css'%}">
    {% endblock %}
{% block body%}
    <table border>
    <tr>
        <td>Sr No.</td>
        <td>Name</td>
        <td>Class</td>
        <td>Marks</td>
    </tr>
        {% for i in santoshi %}
        <tr>
            <td> {{i.sr_no}} </td>
            <td> {{i.name}} </td>
            <td> {{i.class}} </td>
            <td> {{i.marks}} </td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ sr_no }}</td>
            <td> {{ name }} </td>
            <td>{{ class }}</td>
            <td>{{ marks }}</td>
        </tr>
</table>
    {%endblock%}
